<html>
<head><title> aliya</title>
</head>
<body bgcolor=pink>
<pre>
aliya
2724170
mca
a sec
</pre>
</body>

<img src=bhavya.jpg width=300px height=300px>
<pre>
<a href="/main/home/">Back to Home</a>
home
</a>

<table border="2">   
          <tr> 
            <th >name</th>
            <th >sub1</th>
            <th>sub2</th>
            <th>sub3</th>
            <th>sub4</th>
        </tr> 
<tr>
            <td> aliya</td>
            <td>69</td>
            <td>78</td>
            <td>88</td>
            <td>65</td>

        </tr>
</table>
</body>
</html>
