
<html>
<head><title> sravani</title>
</head>
<body bgcolor=pink>
<pre>
sravani
2724176
mca 2
b sec
</pre>
</body>

<img src=sravani.jpg width=300px height=300px>
</body>
<pre>
<a href="/main/home/">Back to Home</a>

</a>
<table border="2">   
          <tr> 
            <th >name</th>
            <th >sub1</th>
            <th>sub2</th>
            <th>sub3</th>
            <th>sub4</th>
        </tr> 
<tr>
            <td> sravani</td>
            <td>49</td>
            <td>88</td>
            <td>28</td>
            <td>55</td>

        </tr>
</table>
</html>