{%   load static     %}
<html><head>
<link    rel="stylesheet"     href="{%  static    'css/style1.css'   %}">
<script src="{%   static    'js/script1.js' %}"></script>
</head>
<body bgcolor=pink> 
<h1 align="center"> Welcome to Annamacharya College</h1>
 

<div class="navbar">
  <a href="#">Employee</a>
  <a href="#news">Student</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">Faculty
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="{%  url   'insert_faculty'  %}">Add data</a>
    <a href="{%  url   'view_faculty'  %}">View data</a>
    <a href="{%  url   'view_faculty_delete'  %}">Delete data</a>
<a href="#">Update data</a>
<a href="#">Search data</a>
  </div>
  </div> 
</div>
{% block content %}

{% endblock %}
<p>Author:Praveen</p>
</body>
</html>