{% extends "master.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Navigation Page</title>
    <link rel="stylesheet" href="{% static 'css/srav.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="master.html">Home</a>

        <div class="dropdown">
            <button class="dropbtn">Sem 1</button>
            <div class="dropdown-content">
                <a href="/101/">101</a>
                <a href="#">102</a>
                <a href="#">103</a>
                <a href="#">104</a>
                <a href="#">105</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Sem 2</button>
            <div class="dropdown-content">
                <a href="#">106</a>
                <a href="#">107</a>
                <a href="#">108</a>
                <a href="#">109</a>
                <a href="#">110</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Sem 3</button>
            <div class="dropdown-content">
                <a href="#">111</a>
                <a href="#">112</a>
                <a href="#">113</a>
                <a href="#">114</a>
                <a href="#">115</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Sem 4</button>
            <div class="dropdown-content">
                <a href="#">116</a>
                <a href="#">117</a>
                <a href="#">118</a>
                <a href="#">119</a>
                <a href="#">120</a>
            </div>
        </div>
    
            {% block content %}
       
        
{% endblock %}

       
        
<div>
    <br/>
    <br/>
   
     <link rel="stylesheet" href="{% static 'home.html' %}">

</div>

       
        </div>
    </div>
</body>
</html> 
